body{
	background-color: #28423f; 
}

nav li{
 display: inline-block;  
}

nav li a{
  font-size: 30px; 
  font-family: 'Alata', sans-serif;
    font-weight: 500;
    color: #d18c4e;
    text-decoration: none;
    padding: 15px;
    
    display: block;
}
nav ul{
float: right;
padding-right: 50px;
}    
.nav{
  padding-bottom: auto;
  background-color: #28423f; 
}
.nav img{
  float: left;
  width: 30%;
  padding-top: 20px;
}

.nav h1{
  float: left;
  font-size: 40px;
}

.bio p{
font-family: 'Roboto', sans-serif;
font-weight: 100; 
font-size: 50px;
text-align: center;
line-height: 1.6;
color: #ecdbd3;
}
.bio{
  padding-top: 80px;
}
h1{
font-family: 'Alata', sans-serif;
font-size: 200px;
text-align: center;
}

h2{
font-family: 'Alata', sans-serif;
font-weight: 500; 
font-size: 30px;
}

h3{
font-family: 'Alata', sans-serif;
font-weight: 500; 
font-size: 25px;
}

h4{
font-family: 'Alata', sans-serif;
font-weight: 500; 
font-size: 20px;
}

}

.name img{
	display: block;
  margin-left: auto;
  margin-right: auto;
padding-top: 10px;
  width: 30%
 } 


.name p{
font-family: 'Roboto', sans-serif;
font-weight: 300; 
font-size: 50px;
text-align: center;
 line-height: 1.6;

}

.work a{
text-decoration: none;
color: #ecdbd3;
}

.work p{
	font-size: 20px; 
	font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #d18c4e;
    text-align: center;

}

.social{
	text-align: center; 
}
.social a{
 color: #bb8888;
 text-align: center;

}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 25px;
  text-align: center;
  text-decoration: none;
}

footer{
  background-color: #28423f; 
}

header{
  float:left;
  background-color: #28423f; 
}
header h1{
  font-size: 45px;
}


img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px; 
  width: 80%
}




/*workmain page*/

.work-column  a{
text-align: center;
text-decoration: none;
 color:#28423f; 
 font-size: 20px;
}

.work-column{
   float: left;
  width: 100%;
  padding: none;
}
.work-row:after {
  content: "";
  display: table;
  clear: both;
}

.work-column img{
  width: 80%;
   display: block;
  margin-left: auto;
  margin-right: auto; 
  }



/*work page*/

.header{
  font-size: 65px;
  color:#28423f; 
  color:;

}
.header a{
  font-size: 70px;
}

.work-grid h1{
  font-size:25px;
  color:#28423f; 
}

/*.work-grid img{
  width: 50%
}
*/
.work-grid img{
  width: 100%;
}
.work-grid{
  flex: 1 1 0;
  display: flex;
  flex-flow: column;
}

/* multimedia page */
.m-column {
  float: left;
  width: 50%;
  padding: none;
}

.m-row:after {
  content: "";
  display: table;
  clear: both;
}

.m-column iframe{
 width: 90%;  
margin: 0 auto;
display: block;
}
#main{
  padding-bottom: 20px;
}
#work p{ 
  font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#work h3{
 font-family: 'Alata', sans-serif;
font-weight: 500; 
font-size: 30px; 
}

#work h4{
  font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

#work b {
  font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/*projects*/
.projects h1{
  font-size: 80px;
  background-color: #ecdbd3;
}

.projects div{
  padding-bottom: 20px;
  background-color: #ecdbd3;;
}


#projects img{
  width: 50%;
}

#intro li{
  list-style-type: none;
  padding: none;
}

#projects p,li{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    text-align: left;
}
#projects li{
  font-size: 20px;
  }
  main{
    padding-bottom: 15px;
  }

  #projects .column {
  float: left;
  width: 50%;
 
}


#projects .row:after {
  content: "";
  display: table;
  clear: both;
}

 .column {
  float: left;
  width: 90%;
display: block;
  margin-left: auto;
  margin-right: auto;
}

.column img{
  width: 80%;
   display: block;
  margin-left: auto;
  margin-right: auto; 
  }


 .row:after {
  content: "";
  display: table;
  clear: both;
}

 .column p {
  font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
}

/* Responsive layout */

@media screen and (max-width: 800px) {
   .work-column, .m-column {
    width: 100%;
  }
   .column {
    width: 100%;
  }
img{
  width: 100%;
}

  .nav{
    background-color: #28423f; 
    padding: auto;
    text-align: center;

  }
nav li a{
  font-size: 20px; 
  font-family: 'Alata', sans-serif;
    font-weight: 500;
    color: #d18c4e;
    text-decoration: none;
    padding: 5px;

   
  }
nav ul{
float: none;
padding-right: 50px;

}  

.nav img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: auto;
}

.bio p{

font-size: 35px;
}


#projects img{
  width: 100%;
}
  }
}

